#wrapper{
    margin: 5% 20%;
}
#main{
    line-height: 3;
}
#predict{
    padding: 2% 5%;
}
.float_left{
    float: left;
    width: 45%;
}

#add{
    padding: 3% 7%;
    border: 1px solid;
    font-size: 16px;
}
#content{
    font-size:18px;
}